<!DOCTYPE html>
<html>
<head>
</head>
<body>
    {% load static %}
    <h1>Staff Page</h1>
    <h1>Wellcome {{request.user}}</h1>
    {% include "staff/link_bar.html" %}

    <h2>Filter by role</h2>
    <form method="get">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="filter">
    </form>

    <h2>List of users</h2>
    {% if users %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Role</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.role }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="user_id" value="{{ user.id }}">
                                <button type="submit">Edit</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No users found.</p>
    {% endif %}

    <script src="{% static 'js/form_user_list_filter.js' %}"></script>
</body>
</html>
